@import "tailwindcss";
@config "../tailwind.config.ts";

@layer utilities {
  .smooth-scroll {
    scroll-behavior: smooth;
  }

  .bg-texture {
    background-image: radial-gradient(#e0b152 0.5px, transparent 0.5px);
    background-size: 24px 24px;
    opacity: 0.15;
  }
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-secondary dark:text-gray-100 font-body antialiased selection:bg-primary/30 selection:text-secondary;
  }
}